<button id="getBooks" class="btn btn-large" onclick="controller.getBooks();">Get My e-Books</button>
Search e-Books: <input type="search" id="searchBooks" class="input-large search-query" placeholder="Search e-Books online">
<button class="btn btn-large" onclick="controller.searchBooks($('#searchBooks').val());">Search e-Books</button>
