<input class="start-date" placeholder="fecha y hora de inicio"/>
<input class="end-date" placeholder="fecha y hora de fin"/>
<button id="setEvent" class="btn">Set Event</button>
<div class="result"></div>
