<hr>
<div class="footer">
  <p>&copy; Redradix weekendApps</p>
</div>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
  <link rel="stylesheet" media="all" type="text/css" href="css/jquery-ui-timepicker.css"/>
  <script src="js/vendor/underscore.js"></script>
  <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <script src="js/vendor/jquery-ui-datetimepicker-addon.js"></script>
	<script src="js/vendor/bootstrap.js"></script>
  <script src="js/authorizer.js"></script>
  <script src="js/plus.js"></script>
  <script src="js/calendar.js"></script>
  <script src="js/books.js"></script>
  <script src="js/controller.js"></script>
  <script src="js/main.js"></script>
  <script src="js/vendor/gapi-client.js"></script>
  <script>window.onload = controller.start</script>

