<div class="footer">
	<script src="js/vendor/jquery-1.8.2.min.js"></script>
	<script src="js/vendor/bootstrap.js"></script>
  <script src="js/authorizer.js"></script>
  <script src="js/plus.js"></script>
  <script src="js/controller.js"></script>
  <script src="js/main.js"></script>
  <script src="js/vendor/gapi-client.js""></script>
  <script src="js/vendor/underscore.js""></script>
  <script>window.onload = controller.start</script>
</div>
