<!DOCTYPE html>
<html lang="en">
  <%= erb :header %>
<body>
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">          
          <a class="brand" href="#">GoogleApp</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/">Home</a></li>   
              <li><a href="#" id="authorize-button">Authorize</a></li>              
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
	<div class="container">		
		<header>
			<div class="hero-unit">
		        <h1>Javascript & Google Apps</h1>
		        <p class="lead">Create a javascript application using Google APIs.</p>
		    </div>
		</header>
		<section>			
			<div class="row">
				<div class="span12">
					<%= yield %>
				</div>			
			</div>
			<hr>
			<div class="row">
				<div class="span12">	
					<div id="content"></div>
				</div>			
			</div>		
		</section>
		<footer>			
		  	<%= erb :footer %>
		</footer>
  	</div>
</body>
</html>
