<!DOCTYPE html>
<html lang="en">
  <%= erb :header %>
<body>
  <!--[if lt IE 7]><p class=chromeframe>Your browser is <em>ancient!</em> <a href="http://browsehappy.com/">Upgrade to a different browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to experience this site.</p><![endif]-->
	<div class="row">
		<div class="span12">

	      <div class="hero-unit">
	        <h1>Javascript & Google Apps</h1>
	        <p class="lead">Create a javascript application using Google APIs.</p>
<!--	        <a href="#myModal" role="button" class="btn btn-large btn-success" data-toggle="modal">Get started</a>-->
	      </div>

	  <%= yield %>
	  <%= erb :footer %>
	</div>
  </div>
</body>


</html>
