    <!--Add a button for the user to click to initiate auth sequence -->
    <button id="authorize-button" style="visibility: hidden" class="btn">Authorize</button>
    <button id="find-me" class="btn" onclick="controller.findMe();">Find me</button>
    <div id="content"></div>
    <script src="js/authorizer.js"></script>
    <script src="js/plus.js"></script>
    <script src="js/controller.js"></script>
    <script src="js/main.js"></script>
    <script src="js/vendor/gapi-client.js""></script>
    <script>window.onload = controller.start</script>
    
