<div class="span9">
<h2>Mi calendario en un mapa</h2>
<p>Filtra por fechas</p>
<input class="start-date" placeholder="fecha y hora de inicio"/>
<input class="end-date" placeholder="fecha y hora de fin"/>
<input type="text" placeholder="Cuántos..." id="cuantos" />
<input id="btnCargarEventos" type="button" class="button" value="Cargar eventos" />

<div id="map" class="result"></div>

</div>