<button id="find-me" class="btn" onclick="controller.findMe();">Find me</button>
<button id="find-activities" class="btn" onclick="controller.findPublicActivities();">Find activities</button>
<button id="find-profiles" class="btn" onclick="controller.findPublicProfiles();">Find profiles</button>
